/* main rules */
body{
  text-align: center;
  padding:100px 10px 10px;
}

.img-why{
    border-radius: 50%;
    padding: 30px;
    height: 260px;
    margin-top: 80px;
    background-color: #428bca;
  }

img{
  height: 200px;
  margin-top: 20px;
}

.how-it-works, main{
  margin-top: 100px;
  background-color: #f9f9f9;
}

h2{
  font-size: 30px;
}

h3{
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

hr{
  margin-top: 10px;
}

/* media query */
/* SMARTPHONE */
@media all and (max-width: 767px){

img{
  margin-top: 20px;
  height: 150px;
}

.img-why{
  border-radius: 50%;
  padding: 30px;
  height: 150px;
  margin-top: 20px;
  background-color: #428bca;
  }
}

/* TABLET */
@media all and (min-width: 768px) and (max-width: 991px){

h2{
  font-size: 30px;
}

h3{
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}
